<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398701539349-81epub15u61tof21s9jo2o9vuusj7qqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398701539349-81epub15u61tof21s9jo2o9vuusj7qqc</string>
	<key>API_KEY</key>
	<string>AIzaSyBygRoAjUEQW0aaQEzL_SvYBDELRs7dO78</string>
	<key>GCM_SENDER_ID</key>
	<string>398701539349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.appleSignIn</string>
	<key>PROJECT_ID</key>
	<string>applesignin-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>applesignin-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398701539349:ios:1c07bf06108cd0a0919e1c</string>
	<key>DATABASE_URL</key>
	<string>https://applesignin-demo.firebaseio.com</string>
</dict>
</plist>